<div class="">
    <div class="col-md-6 padding-top-2pct">
      <div class="box box-success">
        <div class="box-header">
          <h3 class="box-title">Add/edit FAQ Category</h3>
        </div>
          <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label>Title</label>
                  <input type="email" class="form-control" name="name" [(ngModel)]='faqCategory.title' placeholder="Enter faq category title">
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" name='description' [(ngModel)]='faqCategory.description' placeholder="Enter description">
                </div>
                <div class="form-group">
                  <label>Icon class (FA)</label>
                  <input type="text" class="form-control" name='iconClass' [(ngModel)]='faqCategory.iconClass' placeholder="Enter font-awesome class">
                </div>
              </div>
              <!-- /.box-body -->
          
              <div class="box-footer">
                <button type="submit" class="btn btn-success" (click)='validateInput()'>
                  <i class="fa fa-save"></i> &nbsp;
                  Save</button>
              </div>
            </form>
      </div>
    </div>
  </div>
  
    