<div class="full-size">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">
          <div class="login-logo">
            <a href="#"> WELCOME TO</a> 
            <br/> <br/>
            <img src="{{imageSource}}/assets/img/iaas-logo.png" class="width-100pct" />
          </div>

          <p class="login-box-msg">Insert your email to receive reset link</p>
      
          <form action="../../index2.html" method="post">
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]='email'>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">
                
              </div>
              <!-- /.col -->
              <div class="col-xs-4 center">
                <button (click)='getResetLink()' type="button" class="text-center btn btn-success btn-block btn-flat">Send me reset link</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
      
          <br/> <br/> 
      
        </div>
        <!-- /.login-box-body -->
      </div>
</div>