<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3>Internship timeline</h3>  
                    <hr/>
                    <div class="form-group">
                        <h5>Student:  <b>Aleksandar Plamenac</b> </h5>
                        <h5>Internship: <b>JHE Farm</b> </h5>
                    </div>
                </div>
                <div class="box-body">
                    <!-- row -->
                    <div class="container">
                        <div class="col-md-12">
                          <!-- The time line -->
                          <ul class="timeline">
                            <!-- timeline time label -->
                            <li class="time-label">
                                  <span class="bg-red">
                                    10 Feb. 2014
                                  </span>
                            </li>
                            <!-- /.timeline-label -->
                            <!-- timeline item -->
                            <li>
                              <i class="fa fa-cogs bg-blue"></i>
                
                              <div class="timeline-item">
                                <span class="time"><i class="fa fa-user"></i> 12:05</span>
                
                                <h3 class="timeline-header"><a href="#">Student</a> registered for internships</h3>
                                <div class="timeline-body">
                                  Student applied for internships. Waiting for interwview with ExCo. - Status: <span style="color: red">
                                  <i class="fa fa-close">
  
                                  </i></span>
                                </div>
                              </div>
                            </li>
                            <!-- END timeline item -->
                        <li class="time-label">
                              <span class="bg-red">
                                10 Feb. 2014
                              </span>
                        </li>
                        <!-- /.timeline-label -->
                        <!-- timeline item -->
                        <li>
                          <i class="fa fa-cogs bg-blue"></i>
            
                          <div class="timeline-item">
                            <span class="time"><i class="fa fa-user"></i> 12:05</span>
            
                            <h3 class="timeline-header"><a href="#">ExCo</a> did the interview</h3>
                            <div class="timeline-body">
                              ExCo did the interview with the student and the student passed. Status: <span style="color: red">
                              <i class="fa fa-close">
  
                              </i></span>
                            </div>
                          </div>
                        </li>
                    <li class="time-label">
                      <span class="bg-red">
                        10 Feb. 2014
                      </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                      <i class="fa fa-cogs bg-blue"></i>
        
                      <div class="timeline-item">
                        <span class="time"><i class="fa fa-user"></i> 12:05</span>
        
                        <h3 class="timeline-header"><a >Invoice and outgoing student contract sent</a> </h3>
                        <div class="timeline-body">
                          <a> <i class="fa fa-download"></i> &nbsp; Invoice</a> &nbsp; <a> <i class="fa fa-download"></i> &nbsp; Contract</a> <br/> 
                          Invoice is sent to the student. Status: <span style="color: red">
                          <i class="fa fa-2x fa-close">
  
                          </i></span>
                        </div>
                      </div>
                    </li>
  
                    <li class="time-label">
                      <span class="bg-red">
                        10 Feb. 2014
                      </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                      <i class="fa fa-cogs bg-blue"></i>
        
                      <div class="timeline-item">
                        <span class="time"><i class="fa fa-user"></i> 12:05</span>
        
                        <h3 class="timeline-header"><a >Payment has been made and the outgoing student Contract signed</a> </h3>
                        <div class="timeline-body">
                          <a> <i class="fa fa-download"></i> &nbsp; Payment</a> &nbsp; <a> <i class="fa fa-download"></i> &nbsp; Contract</a> <br/>
                          Student sent the payment. Status: <span style="color: orange">
                          <i class="fa fa-2x fa-close">
  
                          </i></span>
                        </div>
                      </div>
                    </li>
                          </ul>
                        </div>
                        <a class="btn btn-success" routerLink='/administration/students'>
                            <i class="fa fa-arrow-left"></i> &nbsp;
                            Back to students
                        </a>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>