<section class="contact-section">
  <div class="container">
    <h1 class="text-center margin-top-2pct">
      Food and Agriculture Youth Institute (FAYI)
    </h1>
    <img
      src="{{ imageSource }}/assets/img/fayi_banner.png"
      class="margin-top-2pct"
      style="width: 100%" />
    <section>
      <div id="who-are-we" class="margin-top-2pct">
        <h3>Who are we?</h3>
        <ul>
          <li>
            The Food & Agriculture Youth Institute (FAYI) is an independent
            committee that deals with sustainability, climate change, and
            biodiversity
          </li>
          <li>
            The idea of FAYI itself came out as we are in the situation where
            climate adaptation has become our main focus to contribute toward
            the future of food and agriculture, and youth, as millennials and
            Generation Z, are the keys to contribute to the sustainability of
            the future of food and agriculture system
          </li>
        </ul>
      </div>
      <div id="what-is-a-think-tank" class="margin-top-2pct">
        <h3>What is a Think Tank?</h3>
        <p>
          A think tank can also be referred to as a think factory or policy
          institute and it is an organization that gathers a group of
          interdisciplinary scholars to:
        </p>
        <ul>
          <li>Perform research around particular policies, issues or ideas</li>
          <li>
            Cover a wide range of topics, including social policy, public
            policy, economic policy, political strategy, culture and technology
          </li>
          <li>
            Combine knowledge and policy-making to impact future policy
            processes
          </li>
        </ul>
      </div>
      <div id="fayi-and-iaas-world" class="margin-top-2pct">
        <h3>FAYI and IAAS World</h3>
        <ul>
          <li>
            In IAAS, we act as an independent committee that deals with
            sustainability, climate change, and biodiversity policy
          </li>
          <li>
            By collecting the expertise of professionals within related fields,
            think tanks can legitimize their findings and share them through
            means of publications, conferences and seminars
          </li>
        </ul>
      </div>
      <div id="fayi-mission" class="margin-top-2pct">
        <h3>FAYI’s Mission</h3>
        <ul>
          <li>
            To promote youth involvement in solving the global climate change,
            food and agriculture issues through capacity building, policy
            making, advocacy
          </li>
          <li>
            To educate and empower youth to act sustainably following the SDGs
          </li>
          <li>
            To connect our members with institutions (research centers, national
            agencies, NGOs...), experts through conferences, parties and
            observers at UN negotiations
          </li>
        </ul>
      </div>
      <div id="fayi-vision" class="margin-top-2pct">
        <h3>FAYI’s Vision</h3>
        <p>
          Inspiring people to solve the world's agriculture, food and climate
          challenges
        </p>
      </div>
      <!-- <div id="our-members" class="margin-top-2pct margin-bottom-5pct">
        <h3>Our members</h3>
        <ul>
          <li>Omar Farhate - Co-head of FAYI</li>
          <li>Marie-Agnès Fine - Co-head of FAYI</li>
          <li>Kamiar Torabi - Finances, HR and Strategic analyst</li>
          <li>Rika Deligiannidou - Marketing & Communications Director</li>
          <li>Sagar Paudel - External relations Director</li>
          <li>
            Fatima Zohra Hamdoun - Head of think tank - Food Security - Food
            Safety
          </li>
          <li>Brian K Kimani - Head of think tank - Climate adaptation</li>
        </ul>
      </div> -->
      <div id="our-activities" class="margin-top-2pct margin-bottom-5pct">
        <h3>What are our typical activities?</h3>
        <p>
          Already mentioned in our mission statement, our specific activities
          consist of:
        </p>
        <ul>
          <li>
            Policy making by writing position papers and call to actions, for
            instance, the Water scarcity & Food Security position paper, the
            Climate Smart Agriculture call to action and the Cropping Systems
            for the future position paper. We are now working on the African
            Food System Manifesto and the Food Waste position paper
          </li>
          <li>
            Capacity building by training our IAAS members that go to political
            conferences, summits and dialogues. The most successful example is
            the training programme we organized with YPARD for our delegation of
            the COP27 of the UNFCCC
          </li>
          <li>
            Advocacy: On those political conferences, summits and dialogues we
            spread the messages written down in our policy papers and call to
            actions
          </li>
          <li>
            To educate and empower youth: We organize scientific conferences and
            events with different IAAS committees about a certain theme where
            participants join in several knowledge sharing and capacity building
            activities. Often, the result of such a conference is a position
            paper.
          </li>
          <li>
            To connect: while working together and with our partners, we have
            the chance to meet a lot of people from different backgrounds
          </li>
        </ul>
      </div>
      <div id="join-fayi" class="margin-top-2pct margin-bottom-5pct">
        <h3>How can you be part of FAYI</h3>
        <h4>Joining a think tank:</h4>
        <p>
          Currently our two active think tanks are the Climate Adaptation Think
          Tank and the Food Safety and SecurityThink Tank. So if you have
          expertise in one of these two fields or are impatient to learn about
          the topics you are welcome to join one (or more) of the think tanks to
          support our current teams in their work and projects. Do not hesitate
          to promote new projects or ideas of your own!
        </p>
        <h4>Creating a new think tank:</h4>
        <p>
          If you are eager to start a think tank about another important topic,
          you can just create one yourself! You need at least 5 members from a
          minimum of 3 countries. The working area should be different from the
          current Think Tanks (Climate adaptation, Food Safety, Food Security),
          and relevant to IAAS.
        </p>
        <h4>Become an individual member:</h4>
        <p>
          If you would like to support one of our Board members in her or his
          work or if you like to do a bit of everything and help where more
          hands and brains are needed, then you can become an individual member.
          You will be assigned to a Board member as your manager with whom you
          can learn and coordinate your work.
        </p>
        <p>
          In case you want to join FAYI in any of the three aforementioned
          forms, please fill in this Google Forms:
          <a href="https://forms.gle/QpzoKG69srML92B79">here</a> . We will
          contact you at the latest in one month's time, but we will do our best
          to contact you sooner!
        </p>
        <p style="font-weight: bold">
          For any questions, doubts or problems, please drop us an email at
          <a href="mailto: fayi@iaasworld.org">fayi@iaasworld.org</a>
        </p>
        <a href="https://drive.google.com/drive/folders/1PbDgVhCivHHFmEqyM1RfjinHHCnz66tz?usp=drive_link" target="_blank">
          <button style="
            padding: 12px 20px; 
            background-color: green; 
            color: white; 
            border: none; 
            border-radius: 5px; 
            font-size: 16px; 
            cursor: pointer; 
            transition: background-color 0.3s, transform 0.2s;
            font-weight: bold;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
          " 
          onmouseover="this.style.backgroundColor='#0056b3'; this.style.transform='scale(1.05)';" 
          onmouseout="this.style.backgroundColor='#007bff'; this.style.transform='scale(1)';">
            Know More
          </button>
        </a>
      </div>
    </section>
  </div>
</section>
