$imageSource: "https://iaas-world-space-prd.ams3.digitaloceanspaces.com";

.contact-section {
    background: url('#{$imageSource}/assets/img/background.jpg');
}

.text-center {
    color: #70ad47;
    margin-bottom: 10px;
    font-weight: bold;
}

p {
    color: black !important;
    margin-top: 10px; 
    margin-bottom: 10px;
}