<div class="full-size">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">
          <div class="login-logo">
            <a href="#"> WELCOME TO</a> 
            <br/> <br/>
            <img src="{{imageSource}}/assets/img/iaas-logo.png" class="width-100pct" />
          </div>

          <p class="login-box-msg">Insert your data to reset password</p>
      
          <form action="" *ngIf='!resetPass.isServed'>
            <div class="form-group has-feedback">
              <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]='userEmail'>
              <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="New Password" name="newPassrod" [(ngModel)]='resetPass.newPassword' />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Confirm Password" name="newPassrod" [(ngModel)]='resetPass.newPasswordConfirm' />
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="row">
              <div class="col-xs-8">
                
              </div>
              <!-- /.col -->
              <div class="col-xs-4 center">
                <button (click)='serveResetLink()' type="button" class="text-center btn btn-success btn-block btn-flat">Reset</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
      
          <div *ngIf='resetPass.isServed' class="text-center">
            <h3>Your password request has already been served!</h3>
            <a routerLink='/login'>
              <br/> <br/>
            Login</a>
          </div>

          <br/> <br/> 
      
        </div>
        <!-- /.login-box-body -->
      </div>
</div>