<section class="content">

  <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <!-- The time line -->
      <ul class="timeline">
        <!-- timeline time label -->
        <li class="time-label">
              <span class="bg-red">
                10 Feb. 2018
              </span>
        </li>
        <!-- /.timeline-label -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-envelope bg-blue"></i>

          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

            <h3 class="timeline-header"><a href="#">Aleksandar Plamenac</a> 
            registered for an internship</h3>

            <div class="timeline-body">
              Here we can insert additional data if needed.
            </div>

          </div>
        </li>

        <li class="time-label">
            <span class="bg-red">
              15 Feb. 2018
            </span>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-user bg-aqua"></i>

          <div class="timeline-item">
            <span class="time"><i class="fa fa-clock-o"></i> 13:00</span>

            <h3 class="timeline-header no-border">
              Held interview with OP taker
            </h3>
          </div>
        </li>
        <!-- END timeline item -->
        <!-- timeline item -->
        <li>
          <i class="fa fa-comments bg-yellow"></i>

          <div class="timeline-item">

            <h3 class="timeline-header">Waiting for confirmation/rejection</h3>
          </div>
        </li>

        <li>
          <i class="fa fa-clock-o bg-gray"></i>
        </li>
      </ul>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>