// $imageSource: "https://iaas-world-space-prd.s3.ap-south-1.amazonaws.com";

.content-hub-jumbotron-inner {
    text-align:center; 
    position: absolute; 
    width: 50%; 
    left: 25%; 
    top:40%;
    color: white;
    font-weight: bold;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.content-hub-jumbotron-inner a {
    font-weight: bold !important;
    margin-bottom: 5px !important;
    font-size: 22px;
}

.default-blog-news .date {
    background: #70ad47 !important;
}

.content-hub-jumbo {
    background-color: #70ad47;
    color: white; 
    font-weight: bold;
}

.display-3 {
    color: white !important;
    font-weight: bold !important;
}

.all-blog {
    // background: url('#{$imageSource}/assets/img/background.jpg');
    // background-size: cover;
    background-color: #F3F9FE;

}

.category-button {
    border: solid 2px #70ad47; 
    border-radius: 0;
    background-color: white;
    color: #70ad47;
    font-weight: bold;
    margin-top: 5px;
}

.category-button.selected, .category-button:hover {
    background-color: #70ad47;
    color: white;
}

.content-hub-title {
    padding: 2% !important;
}

.default-blog-news {
    margin-bottom: 15px !important;
}

// This is to make bootstrap 3 rows of equal height
.row-same-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
    .show-mobile{
        display: none;
    } 

    .show-desktop{
        display: block;
    }
}

@media screen and (max-width: 720px) {
    .show-mobile{
        display: block;
    } 

    .show-desktop{
        display: none;
    }
}