<div class="container">
  <h4 class="common_h4">1. Village Concept Projects</h4>
  <div class="common_main_div">
    <div class="common_p_color common_sub_div">
      <p>
        VCPs are large scale development project in rural village with a
        measurable social impact and a direct contribution to the SDG 2030.Youth
        and students all over the world organize this project. This projects
        contribute directly to the Sustainable
        <a href="../../../../assets/pdf/report.pdf" target="_blank">
          Development Goal-
        </a>
      </p>
      <div class="sustainable-goals">
        <p><span class="goal-number">1.</span> No poverty</p>
        <p>
          <span class="goal-number">8.</span> Decent work and economic growth
        </p>
        <p><span class="goal-number">10.</span> Reduced inequalities</p>
      </div>
    </div>
    <div style="margin-top: -5%" class="common_right_img_div">
      <img src="/assets/img/village.jpg" class="village_img" />
    </div>
  </div>
  <div class="common_down_imgs">
    <div class="common_img_padding_div">
      <img src="/assets/img/no_poverty.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/decent_work.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/reduced.jpg" class="common_img_styling" />
    </div>
  </div>
  <p style="color: black; padding-top: 10px">
    There are 19 projects currently documented in our booklets as we are about
    to see more project coming afterwards the project competition. Currently
    IAAS Indonesia is most active in Village Concept Projects.
  </p>
</div>
<div style="background-color: #f7f7f7" class="common_outside_margin">
  <div class="container">
    <h4 class="common_h4" style="margin-top: 5rem">
      2. Women in Agriculture Project
    </h4>
    <div class="common_main_div">
      <div class="common_p_color common_sub_div">
        <p>
          The Women in Agriculture (WIA) project is an initiative that seeks to
          address the issue of gender inequality in the agricultural space. This
          Global Project was officially started on the 8th of March
          2018(International Woman's Day). The road to this great initiative
          towards achieving Sustainable Development Goal 5 started during 59th
          and 60th World Congress. They meet the core objectives of providing a
          platform that creates awareness about SDG 5 which is
          <strong> Gender Equality </strong>
        </p>
      </div>
      <div
        style="margin-top: -2%"
        class="common_right_img_div small_screen_common_img">
        <img src="/assets/img/women_agriculture.jpg" style="width: 50%" />
      </div>
    </div>
    <div style="justify-content: center" class="common_down_imgs">
      <div class="common_img_padding_div">
        <img src="/assets/img/gender_equality.jpg" class="common_img_styling" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h4 class="common_h4" style="margin-top: 5rem">3. No Food Waste Project</h4>
  <div class="common_main_div">
    <div class="common_p_color common_sub_div">
      <p>
        IAAS World launched this No Food Waste Project with the intention of
        raising awareness of food waste. This project coordinating youths are
        committed to supporting innovative and novel projects that address the
        pressing issues of (food) waste. Its aim is to contribute to the
        Sustainable Development Goal 2,12,13
      </p>
    </div>
    <div class="common_right_img_div small_screen_common_img">
      <img src="/assets/img/no_food_waste.jpg" style="width: 60%" />
    </div>
  </div>
  <div class="common_down_imgs">
    <div class="common_img_padding_div">
      <img src="/assets/img/zero_hunger.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/12.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/climate_action.jpg" class="common_img_styling" />
    </div>
  </div>
  <div class="no-food_waste">
    <p><span class="goal-number">2.</span> Zero Hunger</p>
    <p>
      <span class="goal-number">12.</span> Responsible Consumption and
      Production
    </p>
    <p><span class="goal-number">13.</span> Climate Action</p>
  </div>
</div>
<div style="background-color: #f7f7f7" class="common_outside_margin">
  <div class="container">
    <h4 class="common_h4" style="margin-top: 5rem">
      4. IAAS One Health Project
    </h4>
    <div class="common_main_div">
      <div class="common_p_color common_sub_div">
        <p>
          Antibiotic resistance, vector borne illness, food safety and security,
          mental health, environmental contamination and other issues can all be
          helped by IAAS One health approach.
        </p>
      </div>
      <div style="margin-top: -3%" class="common_right_img_div">
        <img src="/assets/img/save_one.jpg" style="width: 40%" />
      </div>
    </div>
    <p style="color: black; padding-top: 20px">
      One health contributes to SDGs 1,2,3,12,17 ( No Poverty, Zero Hunger, Good
      Health and Well being, responsible consumption and production,
      partnerships) and SDGs 5,6,10,15 ( gender equality, water and sanitation,
      reduced inequality, life on land).
    </p>
    <div class="common_down_imgs" style="justify-content: center">
      <div class="common_img_padding_div">
        <img src="/assets/img/123.jpg" style="width: 100%; height: 120px" />
      </div>
      <div class="common_img_padding_div">
        <img src="/assets/img/56.jpg" style="width: 100%; height: 120px" />
      </div>
    </div>
    <div style="justify-content: center" class="common_down_imgs">
      <div class="common_img_padding_div">
        <img src="/assets/img/reduced.jpg" class="common_img_styling" />
      </div>
      <div class="common_img_padding_div">
        <img src="/assets/img/12.jpg" class="common_img_styling" />
      </div>
      <div class="common_img_padding_div">
        <img src="/assets/img/life_on_land.jpg" class="common_img_styling" />
      </div>
      <div class="common_img_padding_div">
        <img src="/assets/img/partnerships.jpg" class="common_img_styling" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h4 class="common_h4" style="margin-top: 5rem">5. IAAS Delta Project</h4>
  <div class="common_main_div">
    <div class="common_p_color common_sub_div">
      <p>
        IAAS Delta Project is a global network towards cooperation and
        collaboration in between public, private and civil efforts for
        sustainable management of deltas. The aim of this project is to foster
        developments towards prosperity in deltas worldwide.
      </p>
      <p>
        IDP directly contributes to SDG 6(Clean Water and Sanitation) and SDGs
        2(Zero Hunger),8(Decent Work and Economic Growth),9,14(Life below
        water).
      </p>
    </div>
    <div
      style="margin-top: -3%"
      class="common_right_img_div small_screen_common_img">
      <img src="/assets/img/delta_iaas.jpg" style="width: 50%" />
    </div>
  </div>
  <div class="common_down_imgs">
    <div class="common_img_padding_div">
      <img src="/assets/img/clean_water.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/zero_hunger.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/decent_work.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/9.jpg" class="common_img_styling" />
    </div>
    <div class="common_img_padding_div">
      <img src="/assets/img/life_below_water.jpg" class="common_img_styling" />
    </div>
  </div>
  <p style="color: black; padding: 10px 0">
    Project has as its main mission the protection and conservation of deltas
    all around the world towards knowledge transfers and dissemination,
    international cooperation and sustainable local management.
  </p>
</div>
