.gallery-title {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #000;
    font-weight: 600;
  }
.gallery-title-new {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    color: #000;
    font-weight: 600;
  }

  .project-card {
    background: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .project-header {
    background: #fff;
    padding: 1rem;
    border-bottom: 1px solid #eee;
  }

  .project-body {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
  }

  .project-title {
    font-size: 14px;
    color: #000;
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
  }

  .project-content {
    display: flex;
   flex-direction: column;
   gap: 1rem;
   padding: 1rem;
  }

  .project-image {
    width: 50%;
    border-radius: 4px;
    overflow: hidden;
    max-height: 400px;
  }

  .project-image img {
    width: 100%;
    display: block;
    max-height: 400px;
    object-fit: contain;
  }

  .project-details {
    width: 50%;
  }

  .project-date {
    font-size: 0.9rem;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .project-description {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
  }

  .read-more {
    color: #0066cc;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .team-members {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .member-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .sponsor-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: #fff;
  }

  .sponsor-logo {
    height: 30px;
    object-fit: contain;
  }

  /* Add to component CSS */
.loading-text {
  text-align: center;
  margin: 1em;
  font-weight: bold;
}

.load-more-container {
  text-align: center;
  margin-top: 1em;
}

.load-more-button {
  padding: 0.75em 1.5em;
  background-color: #6fad46;
  color: white;
  border: none;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  cursor: pointer;
}
