<div class="jumbotron no-padding no-margin" style="position:relative">
    <img src="{{imageSource}}/assets/img/become_member.jpg" style='width:100%' />
    <span class="member-jumbotron-inner">
        <h1>Become a member</h1>
        <a class="btn btn-success iaas-color-back" href="/contact">Contact us!</a>
    </span>
</div>

<div class="jumbotron member-jumbo no-margin">
    <div class="container">
        <h1 class="display-3">Why should you join us?</h1>
        <h3 class="display-3">Learn, explore, and have fun!</h3>
    </div>
</div>

<section class="contact-section padding-top-2pct padding-bottom-5pct">
    <div class="container">
        <div class="row">
            <a class="btn btn-success text-center check-button" href="{{imageSource}}/assets/resources/Invitation_letter_&_general_info.pdf" target="__blank">Check the guidelines here!</a>
            <div class="accordion-box style-one">
                <div class='accordion animated out' data-delay="0" data-animation="fadeInUp">
                    <div class="acc-btn">
                        <p class="title">ACTIVITIES OF IAAS</p>
                        <div class="toggle-icon">
                            <span class="plus fa fa-chevron-circle-right"></span><span class="minus fa fa-chevron-circle-down"></span>
                        </div>
                    </div>
                    <div class="acc-content" style="display: none;">
                        <div>
                            <p>New members of IAAS join our association as a Correspondent or a Candidate Member as described in the IAAS Constitution &amp; By Laws. Candidate and Correspondent Members have the right to attend and host all IAAS activities. Main international activities are listed below. For further information, you will find upcoming international events on the events section. &nbsp;You can also always contact us at&nbsp;<a href="mailto:info@iaasworld.org">info@iaasworld.org</a>.</p>
                <br/> 
                            <p><strong>Learn, Explore &amp; Have Fun!</strong></p><br/> 
                <ul style="list-style-type: circle;">
                <li>Next to the international activities, member countries organize several additional&nbsp;<strong>local activities</strong>&nbsp;like motivational weekends, outreach programs, company visits, lectures, debates and many social activities.</li>
                <li>General Assembly</li>
                <li>Regional Directors Meetings</li>
                <li>Sub-Regional Meetings</li>
                <li>Seminars and Conferences</li>
                <li>Villages Concept Projects,</li>
                <li>Exchange Weeks</li>
                <li>Exchange Program</li>
                </ul>
                
                        </div>
                    </div>
                </div>

                <div class='accordion animated out' data-delay="0" data-animation="fadeInUp">
                    <div class="acc-btn">
                        <p class="title">HOW TO STRUCTURE THE COMMITTEE</p>
                        <div class="toggle-icon">
                            <span class="plus fa fa-chevron-circle-right"></span><span class="minus fa fa-chevron-circle-down"></span>
                        </div>
                    </div>
                    <div class="acc-content" style="display: none;">
                        <div>
                            <p>If you apply for candidate membership, you will need to create a committee. There are many ways of structuring your committee, but two positions are obligatory.</p>
                <p>–<strong>&nbsp;National Director</strong><br>
                –<strong>&nbsp;National Exchange Coordinator</strong></p>
                <p>You are free to come up with other positions which will contribute to efficiency and effective operations of your National Committee. You could create as many positions as your team finds necessary.&nbsp; Usually the committees have elections for the positions of National Director &amp; Exchange Coordinator every year. It is important to inform the current EC about changes in those two positions. In order to give the opportunity to many students to practice and develop their leadership skills, we recommend to create different positions and have yearly elections. If you have more than one committee, you create Local Committees with Local Directors, Local Exchange Coordinators and other positions which can contribute to the working of a Local Committee.</p>
                <p>Other recommended positions:</p>
                <p><em>– Vice President of Finance<br>
                </em><em>– Vice President of Communication and Membership<br>
                </em><em>– Vice President of Project Development</em></p>
                <p>When you structure your committee you always need to take into account the laws of your country. Some countries have laws governing the structuring and registration of associations, so it’s important to inform you about those.</p>
                <p>If you want to know more about the duties of the National Director and the Exchange Coordinator, you can find them listed in the IAAS Constitution &amp; By-Laws which you can download in the ‘<a href="/downloads">downloads</a>‘ section.</p>
                
                        </div>
                    </div>
                </div>

                <div class='accordion animated out' data-delay="0" data-animation="fadeInUp">
                    <div class="acc-btn">
                        <p class="title">HOW CAN I FIND PEOPLE INTERESTED IN JOINING IAAS</p>
                        <div class="toggle-icon">
                            <span class="plus fa fa-chevron-circle-right"></span><span class="minus fa fa-chevron-circle-down"></span>
                        </div>
                    </div>
                    <div class="acc-content" style="display: none;">
                        <div>
                            <p>There are many ways to find fellow motivated students to join your committee. 
                                It is always interesting to give a presentation to other students, use official IAAS World presentations 
                                and edit them according to your target audience. We have listed some possible strategies you could use to 
                                attract new members:</p>
                            <br/>
                            <h4><strong>Improve your relationship with your university!</strong></h4>
                            <br/>   
                            <p>To find interested students and get support from your university, your personal contact with your university staff is highly important. 
                                Organize a meeting between staff and the committee at least once a year. IAAS World has a great partnership with ICA, the umbrella 
                                organization of all life science universities in Europe. They are providing us contact information of staff in many European 
                                universities. Don’t hesitate to ask us for that contact information. We would love to start partnerships with similar 
                                organizations in other regions as well, feel free to contact us about those.</p>
                                <br/>
                                <h4><strong>Participate in international activities of IAAS!</strong></h4>
                                <br/>
                            <p>You will get in touch with the “familIAAS” and get the viral motivation! Joining an international event is a great way to introduce 
                                yourself and other new students to our members. When coming back home, you can share your enthusiasm with other students and get them 
                                motivated.</p>
                                <br/>
                                <h4><strong>Inform your professors about IAAS!</strong></h4>
                                <br/>
                            <p>They could inform other students about your new committee. They could also help you with contacts for internship places for the Exchange 
                                Program, for sponsorship or for activities.</p>
                                <br/>
                                <h4><strong>Organize your first IAAS event!</strong></h4>
                                <br/>
                            <p>Once you have found a small group of students, it will be easier to reach out to more people. Organize a ‘Welcome Event’: an 
                                information evening or an international evening in the university, where all students, faculty staff, deans and international 
                                officers are invited. Those evenings are ideal to get people excited about joining your committee.</p>
                
                        </div>
                    </div>
                </div>

                <div class='accordion animated out' data-delay="0" data-animation="fadeInUp">
                    <div class="acc-btn">
                        <p class="title">APPLICATION</p>
                        <div class="toggle-icon">
                            <span class="plus fa fa-chevron-circle-right"></span><span class="minus fa fa-chevron-circle-down"></span>
                        </div>
                    </div>
                    <div class="acc-content" style="display: none;">
                        <div>
                            <p>If you want to apply for candidate membership, please download the application form:</p>
                <ul>
                <li><a href="{{imageSource}}/assets/resources/New_candidate_application.docx" target="__blank">Application Candidate member</a></li>
                </ul>
                <p>You can fill&nbsp;this in on your computer&nbsp;and send the document to:</p>
                <p><a href="mailto:president@iaasworld.org">president@iaasworld.org</a>&nbsp;&amp;&nbsp;<a href="mailto:controalboard@iaasworld.org">controalboard@iaasworld.org</a></p>
                <p>&nbsp;</p>
                <p>After a few days you will receive an invitation from the IAAS World EB/CB for a meeting. Prepare a short powerpoint presentation that you will show during the meeting. After that you will receive an acceptance email and start your IAAS journey.</p>
                <p>An application for candidate membership should be at the HQ latest 1st of July to be considered at the General Assembly the same year.</p>
                <p>Don’t hesitate to contact us if you have any questions. We will be glad to help you and give you more information!</p>
                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>