<div style="background-color: #F3F9FE;">
    <div class="jumbotron network-jumbo">
        <div class="container">
            <h1 class="display-3">Backpacking Around America</h1>
        </div>
    </div>
    <div class="container" style="padding-bottom: 4em;">
        <div class="row">
            <div class="col-md-6">
                <h2>What is Backpacking around America?</h2>
                <p style="margin-top: 1em;">It's a program that gives any IAAS member and student of agriculture or related sciences the opportunity to carry out various exchanges in the American region. It is an experience for those backpackers who enjoy getting to know different cultures, technologies, landscapes to have a good time in the American region.        </p>
            </div>
            <div class="col-md-6">
                <h2>Image</h2>
            </div>
        </div>
        
        <div class="row" style="padding-top: 2em;">
            <div class="col-md-6">
                <h2>VIDEO TESTIMONY</h2>

            </div>
            <div class="col-md-6">
                <h2>IMAGE REEL</h2>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom: 4em;">
        <div class="row">
            <div class="col-md-6">
                <h4 style="font-weight: bold;">Exchange Offers</h4>
                <p style="margin-top: 1em;">Only the countries of America that have a fully active ExPro and are ready to receive foreign students participate.</p>
            </div>
            <div class="col-md-6">
                <h4 style="font-weight: bold;">Travel time</h4>
                <p style="margin-top: 1em;">The foreign student may make the trip with a minimum of 3 months to 1 year. The student must be in at least one country for a minimum of 1 month.  The student must complete the entire application process at least 2 months before their trip.                </p>
            </div>
           
        </div>
        
        <div class="row" style="padding-top: 2em;">
            <div class="col-md-6">
                <h4 style="font-weight: bold;">Application</h4>
                <p style="margin-top: 1em;">The student must apply 6 months in advance of his trip. In other words, the student will have a maximum application time of 6 months, enough time to calmly plan all the activities.
                    The student must have a clear itinerary of the countries to travel to and the order of this itinerary will be carried out according to the convenience of the student and the updated offer of exchange opportunities.
                    </p>
            </div>
            <div class="col-md-6">
                <h4 style="font-weight: bold;">Interviews</h4>
                <p style="margin-top: 1em;">The student must have at least one interview with each Exchange place where she will travel to define details of food, lodging, start and end dates of activities by country, among others.
                    </p>
            </div>
        </div>

        <div style="padding-top: 2em;">
            <h4 style="font-weight: bold;">Payments</h4>
            <p style="padding-top: 1em;">The IAAS World constitution determines in Article 18.6: ExPro Fee of chapter 18: Exchange Program, the following:
            </p>
            <p>18.6.1 The applicant must pay the ExPro fee to the Executive Board in order for the exchange application to be approved. The invoice must be made by the Vice President of Finance, providing the correct IAAS World bank account information.
            </p>
            <p> 18.6.10 Each committee must pay the ExPro fee in euros (€) as follows:
            </p>
            <table style="width: 50%;" style="text-align: center; margin-top: 2em; margin-bottom: 2em;">
                <tr>
                  <th>
                    <div>
                        Category                    
                    </div>
                </th>
                  <th>
                    <div>
                        Fee (€)
                    </div>
                </th>
                </tr>
                <tr>
                  <td>A</td>
                  <td>75</td>
                </tr>
                <tr>
                  <td>B</td>
                  <td>75</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td>100</td>
                </tr>
              </table>
            <p>
                Applicants who are not part of an IAAS Committee will incur an additional 25 euros to the recognized application fees for participation in ExPro
            </p>
            <p>18.6.11 If a student wishes to request more than one ExPro place, the total ExPro fee will be increased by €40 for each extra ExPro place. </p>
            <p>               
                The distribution of a payment for an exchange is made as follows, taking for example categories C - E: €100
             </p>
            <p>
                €20 is awarded to the country that sent the intern
                €40 is awarded to the country or countries (each) that receive the intern
                €40 awarded to IAAS World
            </p>
            <p>      That is, if someone travels to three countries in America, he will have to pay a total amount of: €180.             </p>
        </div>
        <div class="row" style="padding-top: 2em;">
            <div class="col-md-6">
                <h4 style="font-weight: bold;">Documentation</h4>
                <p style="margin-top: 1em;">As part of the Exchange program application process, the intern and the NExCo of the outgoing committee are required to sign the “Exchange Participant Agreement”. In addition, the NExCo and/or RExCo must provide the Letter of Acceptance and Invitation to support the management of visa and/or passport documents.
                    </p>
                <p style="margin-top: 1em;">
                    It is important that the intern make sure of the legal requirements of the destination countries, such as maximum stay time with passport, type of visa required, vaccines, vaccination card, PCR test (due to COVID-19 situation), among others. The NExCos will be able to help substantiate these requirements.
                </p>
                <p style="margin-top: 1em;">
                    Lastly, the intern, NExCo of the receiving country and a representative of the company must sign the "Exchange Agreement" where the responsibilities and activities of each one are detailed.
                </p>
                <p style="margin-top: 1em;">  NOTE: These documents must be signed by each country to which the student applies.
                </p>
            </div>
            <div class="col-md-6">
                <h4 style="font-weight: bold;"> Flight logistics and transfers                </h4>
                <p style="margin-top: 1em;">The student must have a well-defined itinerary in such a way that he purchases air tickets to each country from his place of origin, thus ensuring that he buys the cheapest tickets.
                    </p>

                    <p style="margin-top: 1em;">In the case of countries that are close or easily connected (Example: Colombia-Ecuador-Peru or Mexico-Guatemala), we further encourage the use of ground transportation because they are much cheaper means of transportation.

                    </p>
                    <p style="margin-top: 1em;">To determine the best method of transportation, the countries to which the intern will travel should be evaluated. It must be considered that the NExCos should support transfer recommendations.

                    </p>
                    <p style="margin-top: 1em;">Once the flight or land ticket has been purchased, the intern must send a copy of the itinerary to the NExCo of their country and to each NExCo of the country to which they will travel.
                    </p>
                    
            </div>
        </div>
    </div>
</div>