$imageSource: "https://iaas-world-space-prd.s3.ap-south-1.amazonaws.com";

.pg {
    background: url('#{$imageSource}/assets/img/background.jpg')
}

// img{
//     padding-top: 40px;
//     padding-bottom: 40px;
// }

.colorize{
    color: #70ad47;
}

.bold{
    font-weight: bold;
}

p{
    color: black;
}

@media only screen and (min-width: 720px){
    .iaas-back-color {
        background-color: #70ad47 !important;
        padding: 30px;
        font-size: 20px;
        font-weight: bold;
    }
}

@media only screen and (max-width: 720px){
    .iaas-back-color {
        background-color: #70ad47 !important;
        padding: 20px;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}