<div class="boxed_wrapper">
<!-- <div class="top-bar">
    <div class="container">
        <div class="clearfix">

            <ul class="float_left top-bar-info">
            </ul>
            <div class="right-column float_right">
                <div id="polyglotLanguageSwitcher" class="">
                    
                </div>
                <ul class="social list_inline">
                    <li><a href="https://www.facebook.com/IAASWorld/" target="__blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/iaas/" target="__blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCvHoofJSeEVybD3L6q-aHgQ" target="__blank"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://twitter.com/IAAS_World" target="__blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/iaas_world/" target="__blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->
    <app-main-menu></app-main-menu>
    <router-outlet></router-outlet>
    <main-footer></main-footer>
</div>