<div class="content-inner">
  <section class="content">
    <div class="box box-success">
      <div class="box-header">
        <h2 class="box-title">Partners</h2>
        <br/> <br/>
        <button class="btn btn-success" routerLink='/administration/addeditpartner'>
          <i class="fa fa-plus"></i>
          Add partner
        </button>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label>
                Name
              </label>
              <input type='text' [(ngModel)]='searchName' class="form-control" placeholder="Name" />
            </div>
          </div>

          <div class="col-md-2 col-sm-12">
            <div class="form-group">
              <label>
                Country
              </label>
              <ng-select [items]="countries"
                          bindLabel="name"
                          bindValue="id"
                          name="filterCountryID"
                          [(ngModel)]='searchCountryID'
                          placeholder="Country">
              </ng-select>
            </div>  
          </div>

          <div class="col-md-1 col-sm-12">
            <label>
              Search
            </label>
            <button class="btn btn-success" (click)='searchPartners()'>
              <i class="fa fa-search"></i> &nbsp; Search
            </button>
          </div>

          <div class="col-md-2 col-sm-12">
            <div class="form-group">
                <label>Remove filters</label>
                <button class="btn btn-danger" (click)='resetFilters()'>
                    <i class="fa fa-close"></i> &nbsp; Remove filters
                </button>
            </div>
          </div>
        </div>
        <table class="table table-striped table-bordered" [mfData]="partners" #mf="mfDataTable" [mfRowsOnPage]="5">
          <thead>
          <tr>
              <th style="width: 20%">
                  <mfDefaultSorter by="name">Name</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                  <mfDefaultSorter by="country">Country</mfDefaultSorter>
              </th>
              <th style="width: 15%">
                  <mfDefaultSorter by="description">Description</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                <mfDefaultSorter by="website">Website</mfDefaultSorter>
              </th>
              <th style="width: 25%">
                  <mfDefaultSorter >Logo</mfDefaultSorter>
              </th>
              <th style="width: 10%">
                  <mfDefaultSorter>Edit</mfDefaultSorter>
              </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
              <td>{{item.name}}</td>
              <td>{{item.country.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <a target="__blank"
                  href="{{item.website}}">
                  {{item.website}}
                </a>
              </td>
              <td>
                <img class="width-100pct" src="{{uploadImageSource}}/{{item.imagePath}}" />
              </td>
              <td>
                <a class="btn btn-primary" routerLink='/administration/addeditpartner/{{item.id}}'> 
                  <i class="fa fa-pencil"></i>
                  Edit
                </a>
    
                <br /> <br/>
    
                <a *ngIf='userData.userTypeID == 3 || userData.userTypeID == 4' 
                    class="btn btn-danger" (click)='deletePartner(item.id)'> 
                  <i class="fa fa-trash"></i>
                  Delete
                </a>
              </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
              <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
              </td>
          </tr>
          </tfoot>
        </table>
      </div>
      <div class="box-footer">

      </div>
    </div>
  </section>
</div>