<div style="background-color: #F3F9FE;">
    <img src="../../../assets/img/footer.svg" style="width: 100%;"/>
  <footer class=" iaas-footer">
    <div class="widgets-section">
        <div class="container">
            <div class="row">
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                      <div class="col-md-12 col-sm-8 col-xs-12">
                            <div class="footer-widget about-column">
                                <div class="section-title">
                                  <h4>IAAS</h4>
                                </div>
                                <div class="text"><p>The International Association of students in Agricultural and related 
                                    Sciences (IAAS) is a global, independent, non-profit and non-governmental student 
                                    association headquartered in Leuven, Belgium. It was founded in 1957 in Tunisia by 8 
                                    countries. At the moment it is one of the world's biggest student organizations and 
                                    the leading agricultural student association. IAAS gathers students studying, majoring 
                                    or researching in agriculture and related areas like environmental sciences, forestry, 
                                    food science, landscape architecture etc. Its committees are spread in universities in 
                                    over 50 countries worldwide.
                                </p> </div>
                                <div class="text">
                                  <p>
                                      Check out our <a style="cursor: pointer; color: #70ad70" >Privacy Policy</a>.
                                  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Big Column--> 
                <div class="big-column col-md-6 col-sm-12 col-xs-12">
                    <div class="row clearfix">
                        
                        <!--Footer Column-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-widget link-column">
                                <div class="section-title">
                                    <h4>Exchange</h4>
                                </div>
                                <div class="widget-content">
                                  <ul class="list">
                                      <li><a routerLink='/expro/home'>Home</a></li>
                                      <li> <a routerLink='/expro/internships'>Internships</a>  </li>
                                      <li> <a routerLink='/apply'>Apply</a></li>
                                      <li> <a routerLink='/expro/faq'>FAQ</a></li>
                                      <li> <a routerLink='/expro/contact'>Contact</a> </li>
                                  </ul>
                              </div>
                                
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="footer-widget link-column">
                                <div class="section-title">
                                    <h4>About</h4>
                                </div>
                                <div class="widget-content">
                                  <ul class="list">
                                      <li><a routerLink='/about'>About us</a></li>
                                      <li> <a routerLink='/contentHub'>Content Hub</a></li>
                                      <li><a routerLink='/becomePartner'>Our partners</a></li>
                                      <li> <a routerLink='/studyAbroad'>Study Abroad</a>   </li>
                                      <!-- <li> <a routerLink='/pricing'>Pricing</a></li> -->
                                  </ul>
                              </div>
                            </div>
                        </div>       
  
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <div class="footer-widget link-column">
                              <div class="section-title">
                                  <h4>Membership</h4>
                              </div>
                              <div class="widget-content">
                                <ul class="list">
                                    <li><a routerLink='/becomeMember'>Join us</a></li>
                                    <li> <a routerLink='/expro/countries'>Find your country</a>   </li>
                                    <li> <a routerLink='/alumni'>Alumni</a></li>
                                    <li> <a routerLink='/network'>Network</a></li>
                                </ul>
                            </div>
                          </div>
                      </div> 
                    </div>
                </div>
                
             </div>
         </div>
     </div>
  
  </footer>
  
  <section class="iaas-social-media">
    <div class="container">
        <div class="pull-left copy-text">
            <p><a href="#">Copyrights © 2020 - IAAS World</a> All Rights Reserved.</p>
            
        </div><!-- /.pull-right -->
        <div class="pull-right get-text">
          <ul class="social list_inline">
              <li><a href="https://www.facebook.com/IAASWorld/" target="__blank"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.linkedin.com/company/iaas/" target="__blank"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCvHoofJSeEVybD3L6q-aHgQ" target="__blank"><i class="fa fa-youtube"></i></a></li>
              <li><a href="https://twitter.com/IAAS_World" target="__blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/iaas_world/" target="__blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div><!-- /.pull-left -->
    </div><!-- /.container -->
  </section>
</div>