<div class="col-md-12">
    <div class="box box-success">
      <div class="box-header">
          <h3 class="box-title">Exchange program details</h3>
      </div>
        <form role="form">
            <div class="box-body">
              <div class="col-md-3">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Name</label>
                      <input type="text" 
                            class="form-control" 
                            id="exampleInputEmail1" name='names'
                         >
                    </div>
                    <div class="form-group">
                      <label>Duration</label> <br/>
                      <input type="number" name="duration"  />
                      <select>
                        <option>Days</option>
                        <option>Weeks</option>
                        <option>Months</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Location</label>
                      <input type="text" class="form-control" 
                            id="exampleInputPassword1"
                            name='location'>
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <textarea class="form-control" ></textarea>
                    </div>
                    <div class="form-group">
                      <label>Requirements</label>
                      <textarea class="form-control" ></textarea>
                    </div>
              </div>
              <div class="col-md-3">
                <div class="col-md-6 text-center">
                  <label>Food</label> <br/>
                  <input  style="width: 22px; height: 22px;" type="checkbox"  name='food' />
                </div>
                <div class="col-md-6 text-center">
                  <label>Lodge</label> <br/>
                  <input  style="width: 22px; height: 22px;" type="checkbox" name='food' />
                </div>
                <div class="col-md-6 text-center">
                    <hr/>
                  <label>Hours per day:</label> 
                  <input type="number" class="form-control" />
                </div>
                <div class="col-md-6 text-center">
                    <hr/>
                  <label>Weekly hours:</label> 
                  <input type="number" class="form-control" />
                </div>
                <div class="col-md-6 text-center">
                  <hr/>
                <label>House distance (km):</label> 
                <input type="number" class="form-control" step="0.1"/>
                </div>
                <div class="col-md-6 text-center">
                    <hr/>
                  <label>Salary:</label> <br/> <br/>
                  <select class="form-control">
                    <option>&euro;</option>
                    <option>$</option>
                  </select>
                </div>
               
                <div class="col-md-12">
                    <hr/>
                  <label>Languages</label> <br/>
                  <select class="form-control" >
                    <option>EN</option>
                    <option>IT</option>
                    <option>DE</option>
                    <option>ME</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <!-- <img style="width: 100%" src="./../../assets/img/internship.jpg" />  -->
                <label>Please select a file</label>
                <input type="file" />
              </div>
            </div>
            <!-- /.box-body -->
        
            <div class="box-footer">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-save"></i> &nbsp; Save
              </button> &nbsp; &nbsp;
              <button type="button" class="btn btn-warning">
                <i class="fa fa-edit"></i> &nbsp; Edit
              </button> &nbsp; &nbsp;
            </div>
          </form>
    </div>
  </div>
  

  