<div class="pg">

    <!-- <div class="jumbotron">
    <div class="container">
        <h1></h1>

    </div>
</div> -->

    <img class="img-responsive margin-top-2pct " src="{{imageSource}}/assets/img/sap/Students.png" />

    <div class="container margin-top-2pct margin-bottom-2pct">
        <p>
            The Study Abroad Program is a communication tool provided by IAAS World to your university. Thus, if you
            want your university to be part of the IAAS network and have <span class="colorize bold">full access</span> to
            the study abroad opportunities
            from <span class="colorize bold">our university’s partners worldwide</span>,
            check our 
            <a target="__blank" class="colorize underline" href='{{uploadImageSource}}/SAP_Brochure.pdf'>SAP brochure</a>, 
            our guide on <a target="__blank" class="colorize underline" href='{{uploadImageSource}}/How_to_promote_the_SAP.pdf'>how to promote the SAP</a> and
            contact us at <a href="mailto: studyabroad@iaasworld.org" class="colorize underline">studyabroad@iaasworld.org</a>.
        </p>

    </div>

    <div class="container">
        <div class="row padding-bottom-2pct">
            <div class="col-md-12 col-sm-12">
                <div class="bg">
                    <h3>Why studying abroad?</h3>
                    <p>In today's world, language and intercultural skills are key to success. Discovering new places,
                        immersing yourself in a new culture, meeting people from all over the world are proven factors
                        for long-term success. For us, success isn’t just a possibility; it’s a promise. Studying abroad
                        has challenges and rewards, and we support you in every step of the way so you know your
                        investment will pay off. Besides your time abroad, the learning doesn’t stop when you return
                        home: you’ll stay connected to your study abroad experience through online learning tools and
                        student communities. You won’t find a more reliable study abroad program anywhere else!</p>
                </div>
            </div>

        </div>
    </div>

</div>