<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Alumni</h1>
    <br />
    <br />
    <h3 class="display-3">
      Stay connected with your friends and colleagues worldwide and help IAAS to
      build a better future!
    </h3>
  </div>
</div>

<div class="jumbotron no-padding">
  <img
    src="/assets/img/alumni_banner.jpeg"
    style="
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center;
    " />
  <div class="alumni-jumbotron-inner">
    <p
      style="
        color: white;
        font-weight: bold;
        font-size: 3rem;
        padding-top: 1rem;
      ">
      IAAS Alumni meeting 2024
    </p>
    <p style="color: white; font-weight: bold">Lausanne, Switzerland</p>
  </div>
</div>

<section class="contact-section padding-top-2pct padding-bottom-5pct">
  <div class="container">
    <div class="row">
      <h1>WELCOME IAAS ALUMNI!</h1>
      <br />

      <div>
        <p class="color-333">
          <b
            >Dear Alumni, We are having great time in Switzerland. Thank you
            OC!! Next year we will meet in the Netherlands!</b
          >
          <br />

          You’ve spent some amazing moments in IAAS, living unforgettable
          experiences and you’re left with so many great memories of IAAS?
          <br />
          Join our Alumni network and stay up to date about everything IAAS
          Alumni related! <br />
        </p>
        <br />
      </div>

      <hr />

      <div class="row alumni-info">
        <div class="col-md-4">
          <h3>CONNECT</h3>
          <ul>
            <li>Connect with your friends and colleagues worldwide</li>
            <li>
              IAAS is bringing together generations of creative and smart people
              through our alumni activities
            </li>
            <li>
              At our IAAS Alumni meetings you can network, enjoy and have fun,
              while meeting fellow alumni and current IAASers
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>GET INVOLVED</h3>
          <ul>
            <li>Take part in the amazing activities of your Local Committee</li>
            <li>Join your local alumni network – or start one!</li>
            <li>
              Embrace the fantastic opportunity to share your love for IAAS with
              new members
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>GIVE BACK</h3>
          <ul>
            <li>
              You may be in the position where you can help IAAS World and our
              members
            </li>
            <li>
              Share your experience and knowledge from your time in IAAS with
              our local committees
            </li>
            <li>
              Help out your local committee with your knowledge, advices and
              experience!
            </li>
          </ul>
        </div>
      </div>

      <div class="row alumni-info">
        <hr />
        <div class="col-md-6 col-xs-12">
          <h2>IAAS Alumni meeting</h2>
          <br />

          This event is organized yearly and provides all IAAS Alumni the
          opportunity to get together for a few days and relive the great days
          of back then. The past events have taken place in:
          <br /><br />
          <ul>
            <li>2003 Belgium, Leuven</li>
            <li>2007 Germany, Bonn</li>
            <li>2008 Slovenia, Bokraci near Moravske Toplice</li>
            <li>2011 Belgium, Leuven</li>
            <li>2012 Switzerland, Engstligenalp</li>
            <li>2013 USA, Nashville</li>
            <li>2014 the Netherlands, Texel</li>
            <li>2015 Slovenia, Piran</li>
            <li>2016 Croatia, Zadar</li>
            <li>2017 Greece, Thessaloniki</li>
            <li>2018 Portugal, Cadaval</li>
            <li>2019 Spain, Astorga</li>
            <li>2020 Italy, Venice</li>
            <li>2022 Serbia, Novi Sad</li>
            <li>2023 Estonia, Tallinn</li>
            <li>2024 Switzerland, Lausanne</li>
          </ul>
          <br />
          <br />
          IAAS Alumni meeting 2025 will be held in Netherlands. See you in the
          Netherlands in 2025!! Get in touch with <br /><br />
          <span style="color: #70ad47">president@iaasworld.org</span>.
        </div>
        <div class="col-md-6 col-xs-12">
          <img
            src="/assets/img/alumni_meeting.jpeg"
            class="width-100pct img-responsive" />
        </div>
      </div>

      <br />
      <br />

      <div class="row">
        <hr />
        <div class="col-md-12 margin-bottom-10px">
          <h2>STAY IN TOUCH</h2>
          <p class="color-333">
            If you like to get in touch with other alumni, become member of the
            <a
              target="__blank"
              class="green-a"
              href="https://www.facebook.com/groups/122746923648/?fref=ts">
              IAAS Alumni Facebook Group.
            </a>
          </p>

          <p class="color-333">
            By the way, can you fill in the
            <a
              href="https://docs.google.com/forms/d/1dDYUZQIpxtjGLrMxfdnislP_HCZTCh3NVZLFl8W_JAo/viewform?edit_requested=true#start=invite"
              class="green-a">
              IAAS Alumni Form.
            </a>
            By filling out this form we can keep you up to date about
            activities, and if you wish so, send you the bimonthly newsletter.
            Thanks for your cooperation!
          </p>
        </div>
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</section>

<div class="news-section no-margin" *ngIf="articles && articles.length > 0">
  <div class="jumbotron">
    <h1>Activities</h1>
  </div>
  <section class="all-blog blog-section">
    <div class="container">
      <div class="row">
        <article
          class="col-md-3 col-sm-6 col-xs-12"
          *ngFor="let article of articles">
          <div
            class="default-blog-news wow fadeInUp animated animated"
            style="
              visibility: visible;
              animation-name: fadeInUp;
              margin-top: 10px;
            ">
            <figure class="img-holder">
              <a routerLink="/contentHub/{{ article.id }}"
                ><img
                  class="img-responsive"
                  src="{{ uploadImageSource }}/{{ article.imagePath }}"
                  alt="News"
              /></a>
              <figcaption class="overlay">
                <div class="box">
                  <div class="content">
                    <a routerLink="/contentHub/{{ article.id }}"
                      ><i class="fa fa-link" aria-hidden="true"></i
                    ></a>
                  </div>
                </div>
              </figcaption>
            </figure>
            <div class="lower-content">
              <div class="date">
                {{ article.created | date : 'dd.MM.yyyy' }}
              </div>
              <div class="post-meta">
                by {{ article.user.firstName }} {{ article.user.lastName }} |
                {{ article.comments.length }} Comments
              </div>
              <a routerLink="/contentHub//{{ article.id }}"
                ><h4>{{ article.title }}</h4></a
              >
            </div>
          </div>
        </article>
      </div>
      <div class="row text-center margin-bottom-5pct">
        <a
          class="btn btn-success btn-iaas"
          routerLink="/contentHub/category/{{ alumniCategoryID }}"
          >SEE ALL</a
        >
      </div>
    </div>
  </section>
</div>
